.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px #fff; /*-5px 0 #303123;*/
  font-size: 8rem;
  color: #4ECCA3;
}
strong{
  font-size: 1.5em;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
p.winner{
  font-weight: 900;
  text-shadow: 2px 2px #787c38; 
  color: rgb(233, 232, 232);
}
img {
  width: 80%;
  border-radius: 0%;

}
img.winner{
  box-shadow: rgb(236, 247, 93) 0px 0px 10px 10px, rgb(236, 247, 93) 0px 0px 10px 10px inset;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
footer a{
  font-family: 'Indie Flower', cursive;
  /*<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">*/
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 10px;
  padding: 0 5px;
  text-shadow: #303123 5px 0px;
}
/*----mediaQuery----*/

@media (max-width: 600px) {
  h1{
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  h1{
    font-size: 2rem;
  }
}
